*{   
    margin: 0;
}
img{
    border-radius: 50%;
}


body {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.left {
    background-color: rgb(99, 99, 248);
    color: white;
}
.left div{    
    border-top: solid 2px;
    border-top-color: white;    
}

h1 {
    font-size: 72px;
    color: rgb(99, 99, 248);
    text-align: right;
}

h2{
    font-size: 32px;
}

#name h2{
    text-align: right;
}

h3 {
    font-size: 24px;
    color: rgb(99, 99, 248);
}

h4 {
    font-size: 24px;
}

footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    text-align: center;
}

.right {   
    padding-left: 50px;
    padding-right: 150px;
}

.right div{
    border-top: solid 2px;
    border-top-color: black;  
}

.right p{
    font-size: 20px;
}

aside {
    display: flex;
    align-items: left;
    justify-content: space-between;  
}

li{
    font-size: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        grid-template-columns: 30% 70%;
    }
}

/* Estilos para pantallas menores a 768px */
@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }      
}
