*{   
    margin: 0;
}
img{
    border-radius: 50%;
}


body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.left {
    background-color: rgb(99, 99, 248);
    color: white;
}
.left div{    
    border-top: solid 2px;
    border-top-color: white;    
}

h1 {
    font-size: 72px;
    color: rgb(99, 99, 248);
    text-align: right;
}

h2{
    font-size: 32px;
}

#name h2{
    text-align: right;
}

h3 {
    font-size: 24px;
    color: rgb(99, 99, 248);
}

h4 {
    font-size: 24px;
}

footer {
    text-align: center;
}

footer p {
    align-content: center;
}

.right {   
    padding-left: 5%;
    padding-right: 50%;
}

.right div{
    border-top: solid 2px;
    border-top-color: black;  
}

.right p{
    font-size: 20px;
}

aside {
    display: flex;
    align-items: left;
    justify-content: space-between;  
}

li{
    font-size: 20px;
}